body {
  margin:5vw;
}

header {
  display: flex;
  flex-direction:row
}

#brand {
  font-weight:bold
}

#searchbar {
  margin:0 auto;
}

#result{
  display:flex;
  margin:1rem 0;
}

#result a {
  margin: 1rem 0;
}

#result p {
  margin: 1rem 0 1rem 1rem
}